body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 0em auto;
  width: 100%;
  text-align: center;
}

.outer-div {
  display: inline-block;
}

.step-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Adds space between the controls and the table */
}

.step-label {
    align-self: flex-start;
}

.slider {
    align-self: flex-start;
}


.slider-div {
  float: right;
}

.table-div {
  display: inline-block;
  background-color: #f9f9f9;
  padding: 5px;
}

.table {
  border-collapse: collapse;
  font-family: Menlo, Consolas, monospace;
  font-size: 13px;
  margin: 4px;
}

.table-row {
  text-align: left;
}

.table-cell {
  user-select: text;
  vertical-align: middle;
  white-space: pre;
}

.hl-title {
  color: #900;
  font-weight: bold;
}

.hl-attribute{
  color: navy;
  font-weight: normal;
}

.hl-number{
  color: teal;
}

.hl-op{
  color: #ef1010;
  font-weight: bold;
}
